# Android / Gradle
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/captures/
*.apk
*.aab
*.keystore
*.jks

# IDEs
.idea/
*.iml
.vscode/

# Python
__pycache__/
*.pyc

# Sistema
.DS_Store
Thumbs.db
